@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/play-v19-cyrillic_latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v32-cyrillic_latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v32-cyrillic_latin-700.woff2') format('woff2');
}

:root {
  --color-brand-light: #2B7FFF;
  --color-brand-dark: #011C44;
  --color-white: #FFFFFF;
  --color-gray: #747272;
}

/* Base */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: var(--color-brand-dark);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

h1, h2 {
  margin: 0;
  padding: 0;
  font-family: 'Play', sans-serif;
}

h2 {
  font-size: 64px;
  line-height: 1.15;
}

p {
  margin: 0;
  padding: 0;
}

.icon-color-brand {
  fill: var(--color-brand-light);
}

.button-form {
  color: var(--color-white);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 600;
  background-color: var(--color-brand-light);
}

.btn {
  border: none;
  padding: 16px 32px;
  height: 53px;
  border-radius: 32px;
}

/* h3 {
  font-size: 18px;
  line-height: 1.3;
}
*/

.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}

/* Color */
.brand-color {
  color: var(--color-brand-light);
}

.color-note {
  color: var(--color-gray);
}

/* Header */
.header {
  height: 106px;
  padding: 32px 0;
}

.header-nav {
  display: flex;
  justify-content: space-between;

  align-items: center;
}

.header-logo {
  display: flex;
}

.header-list {
  padding: 0;
  display: flex;
  gap: 56px;
  margin: 0 auto;
}

.header-social {
  padding: 0;
  display: flex;
  align-items: center;
  gap: 32px;
}

.header-icon {
  fill: var(--color-brand-dark);
}

.header-nav-link {
  color: var(--color-brand-dark);
}

.header-nav-link:hover {
  color: var(--color-brand-light);
  cursor: pointer;
}

/* Main */
/* Main Base */
.section-title {
  text-align: center;
  margin-bottom: 48px;
}

/* Hero section */
.section-hero {
  background-image: url('../images/hero-background-image.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.hero-container {
  padding-left: 100px;
  padding-bottom: 125px;
}

.hero-typename {
  margin: 16px 0;

}

.hero-title {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 140px;
  line-height: 0.8;
}

.hero-btn-container {
  max-width: 238px;
}

.hero-btn {
  margin-bottom: 14px;
}

.description {
  font-size: 12px;
  line-height: 1.5;
}

/* Vision section */
.vision-container {
  display: flex;
  margin-bottom: 175px;
}

.vision-text {
  margin-top: 40px;
  max-width: 700px;
  font-size: 22px;
  line-height: 1.7;
}

.vision-text-item:not(:last-child) {
  margin-bottom: 40px;
}

.vision-span {
  font-weight: 600;
}

.vision-img {
  border-radius: 50%;
}

/* Why section */
.why-container {
  max-width: 1060px;
  margin-bottom: 96px;
}

.why-list {
  padding: 0;
  display: flex;
  gap: 56px;
}

.why-description {
  font-size: 18px;
  line-height: 1.3;
}

/* Procedure section */
.procedures-container {
  margin-bottom: 96px;
}

.carousel-container {
  display: flex;
  align-items: center;
  gap: 32px;
}

.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  fill: var(--color-brand-dark);
  background-color: transparent;
  border: 1px solid var(--color-brand-dark);
  border-radius: 50%;
  cursor: pointer;
}

.procedure-list {
  display: flex;
  justify-content: space-between;
  flex-shrink: 1;
  gap: 28px;
}

.procedure-item {
  flex-basis: calc((100% - 40px) / 3);
}

.card-list {
  font-size: 22px;
  line-height: 1.2;
  max-width: 344px;
  max-height: 456px;
  text-align: center;
}

.procedure-card {
  width: 344px;
  height: 456px;
  border-radius: 4px 120px;
  background: linear-gradient(180.05deg, rgba(1, 28, 68, 0) 48.53%, rgba(1, 28, 68, 0.725825) 84.61%, #011C44 101.39%);
}

/* Contacts section */
.contacts-container {
  max-width: 1059px;
  margin-bottom: 96px;
}

.contacts-list {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.frame-map,
.form-decor {
  border-radius: 32px;
}

.frame-map {
  max-width: 605;
}

.form-decor {
  color: var(--color-white);
  background-color: var(--color-brand-dark);
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 422px;
  padding: 48px 56px;
}

.form-title {
  font-size: 22px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 32px;
}

.contacts-btn {
  align-items: center;
  margin-bottom: 8px;
}

.form-description {
  text-align: center;
}

/* Footer */
footer {
  font-size: 16px;
  line-height: 1.2;
  color: var(--color-white);
  background-color: var(--color-brand-dark);
}

footer a {
  color: var(--color-white);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-height: 248px;
  padding: 56px 0;
}

.footer-item-container {
  max-width: 220px;
}

.footer-social {
  padding: 0;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 24px;
}

.footer-item:not(:last-child) {
  margin-bottom: 16px;
}

.footer-link-item {
  color: var(--color-white);
}

.address-icon {
  fill: var(--color-white);
}